{% extends 'base.html' %}

{% block title %}Page de jeu{% endblock %}

<!-- Dans game.html -->
{% block content %}
    <div class="breadcrumb">
        <a href="{% url 'home' %}">Accueil</a> > <a href="{% url 'jeux_list' %}">Liste des jeux</a> > {{ jeu.nom }}
    </div>
    <div class="content">
        <h1>{{ jeu.nom }}</h1>
        <p>{{ jeu.description }}</p>
        <!-- Liste des items -->
        <h2>Items</h2>
        <ul>
            {% for item in items %}
                <a href="{% url 'toggle_obtenu_item' item.id %}">{{ item.nom }}</a>
                <li><a href="{% url 'item_detail' item_id=item.id %}">{{ item.nom }}</a></li>
                
            {% endfor %}
        </ul>

        <h2>Quetes</h2>
        <ul>
            {% for quete in quetes %}
               <a href="{% url 'toggle_obtenu_quete' quete.id %}">{{ quete.titre }}</a>
                <li><a href="{% url 'quete_detail' quete_id=quete.id %}">{{ quete.titre }}</a></li>
            {% endfor %}
        </ul>
        <!-- Dans game_detail.html -->
        
    </div>
{% endblock %}


