<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="menu-bar">
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="{% url 'game' %}">Jeu</a>
                <a href="{% url 'profile' %}">Profil</a>
            </div>
        </div> 
        <a href="{% url 'game' %}">Jeu</a>
        <a href="{% url 'profile' %}">Profil</a>
    </div>
    <h1>Bienvenue sur la page d'accueil!</h1>
</body>
</html>
