<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="menu-bar">
        <!-- Bouton pour le menu déroulant -->
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <!-- Contenu du menu déroulant -->
            <div class="dropdown-content">
                <a href="{% url 'home' %}">Accueil</a>
                <a href="{% url 'game' %}">Jeu</a>    
                <a href="{% url 'profile' %}">Profil</a> 
            </div>
        </div>
        <!-- Liens directs, si vous les voulez en dehors du menu déroulant -->
        <a href="{% url 'home' %}">Accueil</a>
        <a href="{% url 'game' %}">Jeu</a>
        <a href="{% url 'profile' %}">Profil</a>
    </div>
    <div class="content">
        <h1>Bienvenue sur la page d'accueil!</h1>
        <!-- Le reste du contenu de la page -->
    </div>
</body>
</html>
