<!-- Dans item_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ item.nom }}{% endblock %}

{% block content %}
    <div class="breadcrumb">
        <a href="{% url 'home' %}">Accueil</a> > <a href="{% url 'jeux_list' %}">Liste des jeux</a> > <a href="{% url 'game' jeu_id=item.jeu.id %}">{{ item.jeu.nom }}</a> > {{ item.nom }}
    </div>
    <div class="content">
        <h1>{{ item.nom }}</h1>
        <p>{{ item.description }}</p>
        <!-- Affichez l'image si elle existe -->
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.nom }}">
        {% endif %}
        <p>Points attribués à cet item : <strong>{{ item.points }}</strong></p>
    </div>
{% endblock %}
