<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des Jeux</title>
</head>
<body>
    <h1>Liste des Jeux</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Genre</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for jeu in jeux %}
                <tr>
                    <td>{{ jeu.nom }}</td>
                    <td>{{ jeu.genre }}</td>
                    <td>{{ jeu.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
