{% extends 'base.html' %}

{% block title %}Liste des jeux{% endblock %}

{% block content %}
    <div class="content">
        <h1>Liste des jeux</h1>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Genre</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for jeu in jeux %}
                    <tr>
                        <td><a href="{% url 'game_detail' jeu_id=jeu.id %}">{{ jeu.nom }}</a></td>
                        <td>{{ jeu.genre }}</td>
                        <td>{{ jeu.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
