<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Page de profil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="menu-bar">
        <a href="{% url 'home' %}">Accueil</a>
        <a href="{% url 'game' %}">Jeu</a>
        <a href="{% url 'profile' %}" class="active">Profil</a>
    </div>
    <div class="content">
        <h1>Bienvenue sur votre profil!</h1>
        <!-- Contenu de la page de profil ici -->
    </div>
</body>
</html>
