<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Page de profil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="menu-bar">
        <!-- Menu déroulant -->
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="{% url 'home' %}">Accueil</a>
                <a href="{% url 'game' %}">Jeu</a>
                <a href="{% url 'profile' %}">Profil</a> <!-- Active page -->
            </div>
        </div>
        <!-- Liens directs -->
        <a href="{% url 'home' %}">Accueil</a>
        <a href="{% url 'game' %}">Jeu</a>
    </div>
    <div class="content">
        <h1>Bienvenue sur votre profil!</h1>
        <!-- Contenu de la page de profil ici -->
        <!-- Par exemple, un formulaire d'édition de profil, des informations personnelles, etc. -->
    </div>
</body>
</html>
