{% extends 'base.html' %}

{% block title %}Profil de {{ request.user.username }}{% endblock %}
{% load custom_filters %}

{% block content %}
<div class="content">
    <h1>Profil de {{ request.user.username }}</h1>
    <h2>Jeux favoris</h2>
    <ul>
        {% for jeu in jeux_favoris %}
            <li><a href="{% url 'game' jeu_id=jeu.id %}" class="details-link">{{ jeu.nom }}</a></li>
            <div class="progress-container">
                <label for="game-progress">Progression du Jeu:</label>
                <div class="progress-bar">
                    <div class="progress" id="game-progress" style="width: {{ progress_per_game|get:jeu.id }}%;"></div>
                </div>
            </div>            
    </ul>
    <!-- Vous pouvez ajouter ici d'autres sections, comme la progression des jeux -->
</div>
{% endblock %}
