/* style.css */

/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
}

.menu-bar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu-bar a, .menu-bar button {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background: none;
    cursor: pointer;
}

.menu-bar a:hover, .menu-bar button:hover {
    background-color: #ddd;
    color: black;
}

.menu-bar a.active {
    background-color: #555;
}

.content {
    padding: 50px;
    margin-top: 60px; /* Ajustez la marge supérieure à la hauteur de la menu-bar */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

/* Styles pour le menu déroulant */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Nettoyer les flottants après la menu-bar */
.menu-bar::after {
    content: "";
    display: table;
    clear: both;
}

/* Styles pour les tableaux */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Styles pour les miettes de pain (breadcrumbs) */
.breadcrumb {
    padding: 10px 0;
    margin-top: 60px; /* Ajustez si nécessaire pour le placer en dessous de la menu-bar */
    list-style: none;
    background-color: #e9ecef; /* Gris clair de Bootstrap */
    border-radius: 5px;
    border: 1px solid #e7e7e7;
}

.breadcrumb a {
    color: #0275d8; /* Bleu par défaut de Bootstrap */
    text-decoration: none;
    padding: 0 5px; /* Ajouter de la marge autour des liens */
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb > a:not(:last-child)::after {
    content: ">";
    color: #666;
}

/* Styles pour les boutons "favorite" */
.favorite-button {
    padding: 5px 10px;
    background-color: #4CAF50; /* Fond vert */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Espacement par rapport au lien "Détails" */
    font-size: 0.9em;
}

.favorite-button:hover {
    background-color: #45a049; /* Vert plus foncé au survol */
}

.remove-favorite {
    background-color: #f44336; /* Fond rouge pour la suppression */
}

.remove-favorite:hover {
    background-color: #d32f2f; /* Rouge plus foncé au survol */
}

/* Styles pour la liste de jeux */
ul.jeux-list {
    list-style: none; /* Supprimer la mise en forme par défaut des listes */
    padding: 0;
}

ul.jeux-list li {
    margin-bottom: 10px; /* Ajouter de l'espace entre les éléments de la liste */
}

ul.jeux-list li a {
    text-decoration: none;
    color: #000; /* Texte noir pour les liens */
    padding-right: 5px; /* Espace entre le texte et le bouton */
}

ul.jeux-list li a:hover {
    text-decoration: underline;
}

/* Styles pour les liens de détails */
ul.jeux-list li a.details-link {
    color: #1a73e8; /* Choisir une couleur plus vive */
    font-weight: bold; /* Mettre le texte en gras */
    padding: 3px 8px; /* Ajouter un peu d'espace autour du texte */
    margin-right: 10px; /* Ajouter de la marge à droite */
    border-radius: 4px; /* Adoucir les coins pour l'esthétique */
    background-color: #e6f4ff; /* Un fond subtil */
    text-decoration: none; /* Supprimer le soulignement */
}

ul.jeux-list li a.details-link:hover {
    background-color: #c2e0ff; /* Fond plus foncé au survol */
    text-decoration: underline; /* Souligner au survol pour indiquer que c'est cliquable */
}

/* Styles pour les boutons "obtain" */
.obtain-button {
    padding: 10px 20px; /* Ajustez la marge pour rendre le bouton suffisamment grand */
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Ajustez la taille de la police au besoin */
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    min-width: 120px; /* Définir une largeur minimale pour le bouton */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12); /* Optionnel : ajoute une ombre pour un peu de profondeur */
}

.obtain-button:not(.remove-obtain) {
    background-color: #f44336; /* Rouge pour non obtenu */
}

.obtain-button:not(.remove-obtain):hover {
    background-color: #d32f2f; /* Rouge plus foncé au survol */
}

.obtain-button.remove-obtain {
    background-color: #4CAF50; /* Vert pour obtenu */
}

.obtain-button.remove-obtain:hover {
    background-color: #388E3C; /* Vert plus foncé au survol */
}

/* Style des liens */
a {
    color: #0066cc; /* Couleur bleue pour les liens */
    text-decoration: none; /* Supprime le soulignement des liens */
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

a:hover, a:focus {
    color: #003399; /* Bleu plus foncé au survol/focus */
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8); /* Effet de lueur au survol/focus */
}

/* Style spécifique pour la classe 'details-link' si nécessaire */
.details-link {
    font-weight: bold; /* Met le texte des liens de détails en gras */
    /* Style spécifique additionnel pour la classe 'details-link' */
}

/* Style pour la classe 'favorite-button' */
.favorite-button {
    /* Apparence de bouton */
    display: inline-block;
    padding: 6px 12px;
    margin: 4px 2px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50; /* Fond vert */
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.favorite-button:hover {
    background-color: #388E3C; /* Vert plus foncé au survol */
}

/* Style spécifique pour la classe 'remove-favorite' */
.remove-favorite {
    background-color: #f44336; /* Fond rouge pour supprimer les favoris */
}

.remove-favorite:hover {
    background-color: #d32f2f; /* Rouge plus foncé au survol */
}

/* Ajouter à votre style.css */

.progress-container {
    margin: 20px 0;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border: 1px solid #d0d0d0;
}

.progress-bar {
    height: 20px;
    background-color: #4caf50;
}

.progress {
    height: 20px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px;
    color: white;
}

/* style.css */

.register-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container form p {
    margin-bottom: 10px;
}

.register-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #45a049;
}

.button {
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #007BFF; /* Couleur primaire de Bootstrap */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3; /* Une teinte plus sombre de bleu */
}

.button-register {
    background-color: #28a745; /* Couleur de succès de Bootstrap */
}

.button-register:hover {
    background-color: #1e7e34; /* Une teinte plus sombre de vert */
}

/* Vous pouvez ajouter de la marge entre les boutons s'ils sont empilés */
.button + .button {
    margin-top: 15px;
}
